.DS_Store
Opleverset_Project_5-6/Code/.vscode/c_cpp_properties.json
Opleverset_Project_5-6/Code/.vscode/launch.json
Opleverset_Project_5-6/Code/.vscode/settings.json
Opleverset_Project_5-6/Code/elements/untitled/pyproject.toml.user
